// Styling footer
#footer {
    @include flex-display($display, $flex-wrap, $direction: row);
    padding: 30px;
    align-items: center;
    justify-content: center;
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

@each $element, $width in $footer-elements {
    #{$element} {
      width: $width;
    }
  }

#footer-logo {

    > a > i {
        color: $button-bg-color-rgb;
        margin-right: 5px;
    }

    > img {
        width: 110px;
        height: 40px;
        margin-bottom: 10px;
    }
} 

.footer-logo > a {
    text-decoration: none;
    color: inherit;
}

#footer-company, #footer-destinations {

    > ul, > li{
        list-style: none;
        padding: 0 !important;
    }
}

#footer-copyright {
    text-align: center;         
}

#footer-logo-text {
    font-weight: lighter;
    font-size: 15px;
    margin: 0 10px 10px 0;
    color: $people-and-price-color;
}

.footer-headings {
    font-weight: bolder;
    margin-bottom: 10px;
}

.footer-lists {
    font-size: 15px;

    > li {
        margin-bottom: 5px;
    }

    > li > a {
        text-decoration: none;
        color: inherit;
    }
} 

#subscription {
    display: flex;
    flex-direction: row;
    width: 300px;
    border: 1px solid $text-color;
    justify-content: space-between;

    input {
        border: none;
        flex-grow: 2;
        padding: 10px;
    }

    input:focus, input:active {
        outline: none;
    }

    input[type="email"], textarea {
        background-color : #f2eefa; 
    }
}

#sub-button {
    padding: 10px 15px !important;
}

#sub-message {
    font-size: 12px;
    margin-top: 10px;
    color: $people-and-price-color;
}

#break-line {
    border: 2px solid $secondary-bg-color;
    margin: auto;
    width: 65%;
    border-radius: 2px;
}

#copyright-text {
    margin: 30px 0;
    font-size: 12px;
    font-weight: bold;
}